
.logo{
    font-family:Bangers;
}

.error {
	border-color: red;
}

.header img{
	position: center;
	float:left;
	width: 100px;
	height: 100px;
	background:#555;
	margin-bottom: 5px;
}

.header h1{
	position: relative;
	top: 30px;
	left: 10px;
}


.slider > ul > li {
    float: left;
    width: 400px; height: 300px;
}

.carousel-inner img {
  margin: auto;
}

.vertical-center-row {
    vertical-align: middle;
}

.welcome-links{
    padding-top:3em;
}

#Welcome-Carousel {
    width: auto;
    height: 500px;
    max-height: 1000px;
    overflow: hidden;
    padding-top:2em;
}

